<h1></h1>

<div class="row">
  <aside class="col-md-4">
    <%= render 'side' %>
  </aside>
  <div class="col-md-8">
    <% if logged_in? %>
      <% if @users.any? %>
        <h3> <%= @title %> (<%= @users.count %>)</h3>
        <ol class="follows">
          <%= render 'followings' %>         
        </ol>
      <% end %>
    <% end %>
  </div>